@{
    ViewBag.Manifest = MvcApplication.Areas[ViewContext.RouteData.DataTokens["area"].ToString()];
    ViewBag.Title = "GanSoft Web";
    ViewBag.SubTitle = "";
    ViewBag.MainTitle = $"Manual de GanSoft Web {ViewBag.Manifest.Title}";
}

<div class="row">
    <div class="col-md-12">
        @Html.Partial("_TitlePartial")
    </div>
    <div class="col-md-12">
        <p class="lead">
            Guía que descibe detalladamente todas las funciones de la plataforma online GanSoft Web para una mejor experiencia del usuario
        </p>
    </div>
    <div class="col-md-2 text-center">
        <img class="img-responsive" src="~/Areas/Reseller/Content/img/logo.png" alt="Logo" />
    </div>
    @*TODO - diseñar imagen TDPro/softsupply*@
    <div class="col-md-10">
        <p>
            GanSoft Web es una plataforma de estadísticas de comportamiento de rebaños en internet pública y gratuita.
                 La información contenida y mostrada en dicha plataforma es anónima, constituida con información de todos los usuarios de GanSoft Pro que tienen conexión a internet y la versión de GanSoft igual o superior a 7.1.0.  
        </p>
    </div>
</div>