@{
    ViewBag.Manifest = MvcApplication.Areas[ViewContext.RouteData.DataTokens["area"].ToString()];
    ViewBag.Title = "Bienvenido";
    ViewBag.SubTitle = "";
    ViewBag.MainTitle = $"Ayuda de {ViewBag.Manifest.Title}";
}

<div class="row">
    <div class="col-md-12">
        @Html.Partial("_TitlePartial")
    </div>
    <div class="col-md-12">
        <p class="lead">
            Guía que descibe detalladamente todas las funciones de la plataforma online GanSoft Web para una mejor experiencia del usuario
        </p>
    </div>
    <div class="col-md-2 text-center">
        <img class="img-responsive" src="~/Areas/GanSoftWeb/Content/img/logo.png" alt="Logo" />
    </div>
    @*TODO - diseñar imagen TDPro/softsupply*@
    <div class="col-md-10">
        <p>
            GanSoft Web es una plataforma de estadísticas de comportamiento de rebaños en internet pública y gratuita a la cual se accede desde el siguiente enlace:
            <a href="https://softsupply.com/GanSoftWeb">GanSoft Web</a>
        </p>
        <p>
            La información contenida y mostrada en dicha plataforma es anónima, constituida con información de todos los usuarios de GanSoft Pro que tienen conexión a internet y la versión de GanSoft igual o superior a 7.1.0.
        </p>
    </div>
</div>
<div class="alert alert-info row" role="alert">
    <div class="col-md-1">
        <i class="fa fa-5x fa-info"></i>
    </div>
    <div class="col-md-10">
        <strong>Nota</strong><br />
        Es muy importante considerar que, al realizar las evaluaciones o resultados de las mismas, se debe tomar en cuenta que los datos representan apenas un
        pequeño porcentaje de la población de animales y rebaños y normalmente son datos de rebaños con un cierto nivel tecnológico y organizacional. También se
        debe considerar que dichos datos son obtenidos directamente del usuario sin ningún tipo de depuración o manipulación por lo que vamos a ver algún
        porcentaje bastante pequeño de errores pero que existen en los datos del usuario.
    </div>
</div>