@{
    ViewBag.Manifest = MvcApplication.Areas[ViewContext.RouteData.DataTokens["area"].ToString()];
    ViewBag.Title = "Afiliación";
    ViewBag.SubTitle = "";
    ViewBag.MainTitle = $"Manual de GanSoft Web {ViewBag.Manifest.Title}";
}

<article class="row">
    <div class="col-md-12">
        <div class="page-header">
            <h1>
                @ViewBag.Title
                @if (!string.IsNullOrEmpty(ViewBag.SubTitle))
                {
                    <br /><small>@ViewBag.SubTitle</small>
                }
            </h1>
        </div>
    </div>
    <div class="col-md-12">
        <p class="lead">
          Aquí inicia tu recorrido por la plataforma GanSoft Web  
        </p>
    </div>
    <div class="col-md-12">
        <ul class="index">
            <li>
                <a href="#Filtrar">Filtrar</a>
            </li>
            <li>
                <a href="#Gráficas">Gráficas</a>
            </li>
        </ul>
    </div>
    <div class="col-md-12">
        <h3 id="Filtrar">Filtrar</h3>
        <div class="row">
            <div class="col-md-8">
                <p>
                    Cuando accede al menú "General" se muestra, a mano derecha, una opción
                    para "Filtrar" mostrándose a continuación:
                </p>
            </div>
            <div class="col-md-4">
                <a href="~/Areas/GanSoftWeb/Content/img/captures/imagen 6.jpg" class="thumbnail" data-lightbox="Solicitud Distribuidor" data-title="Solicitud Distribuidor">
                    <img class="img-responsive" src="~/Areas/Reseller/Content/img/captures/imagen 6.jpg" alt="Solicitud Distribuidor" />
                </a>
            </div>
            <div class="col-md-8">
                <p>
                    Las variables de los filtros a los que puedes acceder son:
                    <ul>
                        <li>Especie.</li>
                        <li> Estado o categoría del animal (Grupo etario).</li>
                        <li> Estatus del animal (Activo, Inactivo….).</li>
                        <li> País.</li>
                        <li> Región.</li>
                        <li> Subregión.</li>
                        <li> Tipo de explotación.</li>
                        <li> Tipo de manejo.</li>
                        <li> Zona Agroecológica.</li>
                        <li> Grupo de rebaños que puede ver y filtrar el usuario.</li>
                    </ul>
                </p>
            </div>
            <div class="col-md-4">
                <a href="~/Areas/Reseller/Content/img/captures/imagen 7.png" class="thumbnail" data-lightbox="Solicitud Distribuidor Llena" data-title="Solicitud Distribuidor Llena">
                    <img class="img-responsive" src="~/Areas/Reseller/Content/img/captures/imagen 7.png" alt="Solicitud Distribuidor Llena" />
                </a>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <h3 id="Autorizacion">Autorización</h3>
        <div class="row">
            <div class="col-md-8">
                <p>
                    Tras esto, deberá esperar a ser contactado por el equipo de TDPro C.A. en su casa matriz, el cual tras evaluarlos los autorizará como distribuidores de los productos generados por nuestra casa de desarrollo. Con lo cual ya será parte de nuestra comunidad de distribuidores autorizados.
                </p>
            </div>
        </div>
    </div>
</article>